.cardT {
    border: none;
    width: 400px;
    border-radius: 12px;
    color: #fff;
    background-image: linear-gradient(to right top, #280537, #56034c, #890058, #bc005b, #eb1254);
}

.number span {
    font-size: 20px;
    font-weight: 600;
}

.cardholder, .expires {
    font-weight: 600;
    font-size: 17px;
}

.name, .date {
    font-size: 15px;
}

.card-border {
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    border: none;
    border-radius: 6px;
    background-color: blue;
    color: #fff;
    background-image: linear-gradient(to right top, #0c0537, #440b51, #7f005d, #b9005b, #eb124b);
}
